* {
  transition: .2s border;
}

@keyframes showIcon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideIcon {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



.inputHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

@media (max-width: 600px) {
  .inputHolder {
    flex-direction: column;
  }
}

@media (max-height: 500px) {
  .inputHolder {
    position: fixed;
    top: 150px;
  }
}
