.header {
  display: flex;
  margin-top: 30px;
  height: 50px;
  width: 100vw;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #b3b3b3;
}
